body {font-family: Arial, Helvetica, sans-serif;}

.search-container input[type=text] {
  padding: 6px;
  margin-top: 8px;
  margin-left: 10px;
  font-size: 17px;
  width: 320px;
}

#entete{
	text-align: center;
}

#entete img{
  width:100px;
  height:100px;
  margin-top: 5px;
}

h1{
  	display: inline-block;
	vertical-align: 100%;
	text-align: center;
}


*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  list-style: none;
  text-decoration: none;
}

.middle{
  position: absolute;
  top: 13%;
  left: 0%;
}
.menu{
  width: 400px;
  margin-left: 10px;
  border-radius: 8px;
  overflow: hidden;
}
.item{
  border-top: 1px solid #2980b9;
  overflow: hidden;
}
.btn{
  display: block;
  padding: 16px 20px;
  background: #3498db;
  color: white;
  position: relative;
}
.btn:before{
  content: "";
  position: absolute;
  width: 14px;
  height: 14px;
  background:#3498db;
  left: 20px;
  bottom: -7px;
  transform: rotate(45deg);
}
.smenu{
  background: #333;
  overflow: hidden;
  transition: max-height 0.3s;
  max-height: 0;
}
.smenu .check{
  display: block;
  padding: 16px 26px;
  color: white;
  font-size: 14px;
  margin: 4px 0;
  position: relative;
}
.smenu .check:before{
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #3498db;
  left: 0;
  top: 0;
  transition: 0.3s;
  opacity: 0;
}
.smenu .check:hover:before{
  opacity: 1;
}
.item:target .smenu{
  max-height: 1000em;
}

.map{
	position: absolute;
	top: 13%;
	right: 0.5%;
}